div.hud {
    position: absolute;
    bottom: 10px;
    left: 2px;
    color: #333;
}

div.hud img.icon {
}

div.hud a {
    color: white;
}

div.hud a:visited {
    color: white;
}

span.hudpart {
    font-size: 80%;
    color: white;
    opacity: 0.5;
    /* border-left: 1px solid white; */
    padding-left: 3px;
}

span.hudlink {
    border-left: 0px solid white;
}

span.hudlink:hover {
    opacity: 1;
}

#arrowkeys {
    width: 24px;
    height: 15px;
    position: relative;
    top: 3px;
}

div.key {
    background-color: #ccc;
    box-shadow: 0 0 5px black;
    display: inline;
    font-size: 7pt;
    padding: 0px 7px;
    border-radius: 3px;
    color: black;
}
